body {
  margin-top: 100px; }

.navbar {
  box-shadow: 2px 2px 5px #3292a6;
  background: #fff;
  opacity: 0.9; }
  .navbar .nav-item {
    font-size: 1.4rem; }
    .navbar .nav-item .nav-link {
      color: black; }
    .navbar .nav-item .nav-link:hover {
      color: #3292a6; }

#showcase {
  background-image: url(../img/mountains.jpg);
  min-height: 700px;
  position: relative; }
  #showcase .primary-overlay {
    background: rgba(50, 146, 156, 0.7);
    min-height: 700px;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0; }

#box {
  background-color: #DE745D; }

#about {
  background-color: #cfd4d8; }

#authors img {
  margin-top: -60px; }

#authors .card:hover {
  background: #0e7c97; }
  #authors .card:hover .fa {
    color: #fff; }

#authors .fa {
  font-size: 25px; }

@media (max-width: 576px) {
  #showcase h1 {
    font-size: 4rem; } }
